
    body {
        font-family: 'Inter', sans-serif;
    }

    p {
        color:black;
    }

    h1 {
        color:black;
    }

    h2 {
        color:black
    }

    .linkedin-link {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
    }

    .border-thick {
        border-style: solid;
        border-color: black;
        border-width: .25rem;
    }

    .work-card {
        padding: 1rem;
        margin: .5rem;
    }

    /*
    .card-spacing {
        margin: 50px;
    }
    */
    /*
    iframe {
    width: 1024px;
    height: 3500px;
    margin: 0 auto;
    background-color: blue;
}

iframe {
    display: block;
    border-style:none;
}
    */
/*
    .resume-coded {
            line-height: 1.6;
            margin: 20px;
        }
        
        .resume-coded h1, h2, h3, h4, h5 {
            margin-bottom: 10px;
        }
        .resume-coded p, ul, li {
            margin-bottom: 10px;
        }
        .resume-coded hr {
            margin: 20px 0;
        }
        .resume-coded ul {
            padding-left: 20px;
        }
    */

    .resume-container {
        margin: 4rem;
        border-style: solid;
        border-color: black;
        border-width: .25rem;
    }

    .resume-coded {
            line-height: 1.6;
           margin: 8rem 0 8rem 1.25rem;
        }

        .resume-coded p, ul, li {
            margin-bottom: 0;
        }

        .resume-coded h2 {
            margin-left: 0;
            margin-top: 0;
        }
        .resume-coded h3 {
            margin-left: 0;
            margin-top: 1rem;
        }
        .resume-coded h4 {
            margin-left: 1rem;
        }
        .resume-coded h5 {
            margin-left: 1.25rem;
        }

        .resume-coded hr {
            margin: 1.25rem;
        }
        .resume-coded ul {
            padding-left: 2.5rem;
        }
        
        .resume-coded .resume-coded-heading p {
          line-height: 1.6;
        }

        .resume-coded .resume-coded-heading h1 {
          line-height: 3.2;
        }

svg {
fill: white;
}

svg:hover {
  fill: red;
}
